<div class="force5" tabindex="0" oncontextmenu="return false;"
     ng-keydown="f5.input.keys.$down($event)"
     ng-keyup="f5.input.keys.$up($event)"
     ng-mousedown="f5.input.mouse.$down($event)"
     ng-mouseup="f5.input.mouse.$up($event)"
     ng-mousemove="f5.input.mouse.$move($event)">
    <style f5-style>
        force5,
        div[force5],
        .force5,
        .force5 > div,
        .force5 > div.canvas :first-child {
            width:  100%;
            height: 100%;
        }

        force5,
        div[force5] {
            display: block;
        }

        .force5 {
            outline: none;
            position: relative;
            margin: auto;
        }

        .force5 > div {
            position: absolute;
        }

        .force5 .canvas {
            z-index: 0;
        }

        .force5 .screen {
            z-index: 1;
        }
    </style>
    <div class="canvas" ng-include="f5.engine.templateUrl"></div>
    <div class="screen" ng-include="f5.stage.templateUrl" ></div>
</div>